<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>本をリクエスト | 細野研究室</title>
    <link rel="stylesheet" href="./doctor_reset.css">
    <link rel="stylesheet" href="./index.css">
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
</head>
<body class="bg-header">
    <header class="bg-header m-width_1600 m-auto">
        <div class="header flex relative">
            <div class="header-icon f-28 relative tr-c">
                <a class="color-black" href="./public.html">
                    S.S.D.
                    <span class="color-br tr-c">
                        Library
                    </span>
                </a>
                <div class="sub-title relative tr-c">
                    書籍管理システム
                </div>
            </div>
            <div class="register relative tr-c">
                <a class="f-16 color-black" href="./register.html">
                    本を登録する
                </a>
                <a class="f-16 color-black" href="./request.html">
                    本をリクエスト
                </a>
            </div>
        </div>
        <div class="side-header w-mode-rl absolute top-150 right-0 color-black f-20">
            S.S.D.
            <span>DESIGN CREATING</span>
            <span>細野研究室</span>
        </div>
    </header>
    <section id="book_search" class="s-contents">
        <form v-on:submit.prevent="getResult(query)" class="search-form relative m-auto">
            <input v-model="query" class="search-box relative top-0 left-0" name="s" type="text" placeholder="本のタイトルを入力してください" />
            <button class="search-btn absolute top-0" type="submit">
                <i class="fas fa-search absolute"></i>
            </button>
        </form>
        <div v-for="item in items" class="relative tr-c padding-8 f-10">
            <p>{{item}}</p>
        </div>
    </section>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="./js/request.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios@0.17.1/dist/axios.min.js"></script>
</body>
</html>
